<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MSSQLDbconnection" connectionString="Server=.\SQLEXPRESS; Database=lightDataTest; Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Dbconnection" connectionString="Data Source=D:\Projects\LightDataTable.Core\test.Modules.Core\test.Modules.Core\LightDataTable.db;Pooling=true;FailIfMissing=true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>